:root {
  --black-blue: #020112;
  --deep-blue: #13242f;
  --gray-blue: #2b3f4d;
  --dark-blue: #2f4858;
  --lapis-blue: #33658a;
  --light-blue: #86bbd8;
  --orange-yellow: #f6ae2d;
  --orange: #f26419;
}

.invalid-input-popup {
  position: absolute;
  margin-left: 5px;
  background-color: #ffcccc;
  border-radius: 5px;
  padding: 5px 8px;
  border: 1px solid #ff0000;
  display: inline-block;
  font-size: 0.7em;
}

.error-popup, .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.popup {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #000000;
}

.error-popup {
  box-shadow: 0px 0px 10px rgba(127, 18, 18, 0.5);
  background-color: #ffcccc;
  border: 1px solid #c17854;
}

.delayed-fadeout {
  animation: fadeOutDelay 1s forwards;
}

@keyframes fadeOutDelay {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hide {
  display: none;
}

.banner {
  position: fixed;
  top: 20%;
  left: 10%;
  right: 10%;
  background: linear-gradient(135deg, var(--deep-blue) 1%, var(--gray-blue) 100%);
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 9px 8px color-mix(in srgb, var(--lapis-blue) 10%, transparent);
  color: #ffffff;
  text-align: center;
}

.banner h1 {
  margin: 0;
  font-size: 24px;
}

.errorPage {
  background: radial-gradient(ellipse 80% 100% at calc(50% + 0px) calc(20% + 10px), var(--black-blue) 50%,#000 100%);
  background-size: closest-side;
  background-attachment: fixed;
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lobby_buttons {
  position: relative;
  left: -25%;
}
