{{ block "board" . }}
  <table id="game_board" hx-swap-oob="true">
    {{ $arrowLeft := "<" }}
    {{ $arrowRight := ">" }}
    {{ $arrowUp := "^" }}
    {{ $arrowDown := "v" }}
    {{ if eq .Stage StagePlaying }}
      {{ $arrowLeft = "⬅️" }}
      {{ $arrowRight = "➡️" }}
      {{ $arrowUp = "⬆️" }}
      {{ $arrowDown = "⬇️" }}
    {{ end }}

    {{ $isInitStage := eq .Stage StageInit }}
    {{ $currPlayer := .CurrentPlayer }}


    <tr>
      <td />

      {{ range $index, $_ := .Board }}
        <td
          ws-send
          hx-vals='{ "index": {{ $index }}, "action": "shift", "direction": "down" }'
        >
          {{ $arrowDown }}
        </td>
      {{ end }}
    </tr>

    {{ range $row_index, $row := .Board }}
      <tr>
        <td
          ws-send
          hx-vals='{ "index": {{ $row_index }}, "action": "shift", "direction": "right" }'
        >
          {{ $arrowRight }}
        </td>
        {{ range $col_index, $col := $row }}
          <td
            {{ if $isInitStage }}
              ws-send hx-vals='{ "row": {{ $row_index }}, "col":
              {{ $col_index }}, "action": "put" }'
            {{ end }}
          >
            {{ $col }}
          </td>
        {{ end }}
        <td
          ws-send
          hx-vals='{ "index": {{ $row_index }}, "action": "shift", "direction": "left" }'
        >
          {{ $arrowLeft }}
        </td>
      </tr>
    {{ end }}


    <tr>
      <td />

      {{ range $index, $_ := .Board }}
        <td
          ws-send
          hx-vals='{ "index": {{ $index }}, "action": "shift", "direction": "up" }'
        >
          {{ $arrowUp }}
        </td>
      {{ end }}
    </tr>
  </table>
{{ end }}
