{{ block "board" . }}
  <table hx-target="body">
    {{ $arrowLeft := "<" }}
    {{ $arrowRight := ">" }}
    {{ $arrowUp := "^" }}
    {{ $arrowDown := "v" }}
    {{ if eq .Stage StagePlaying }}
      {{ $arrowLeft = "⬅️" }}
      {{ $arrowRight = "➡️" }}
      {{ $arrowUp = "⬆️" }}
      {{ $arrowDown = "⬇️" }}
    {{ end }}

    {{ $isInitStage := eq .Stage StageInit }}
    {{ $currPlayer := .CurrentPlayer }}


    <tr>
      <td />

      {{ range $index, $_ := .Board }}
        <td hx-post="/shift/down" hx-vals='{ "index": {{ $index }} }'>
          {{ $arrowDown }}
        </td>
      {{ end }}
    </tr>

    {{ range $row_index, $row := .Board }}
      <tr>
        <td hx-post="/shift/right" hx-vals='{ "index": {{ $row_index }} }'>
          {{ $arrowRight }}
        </td>
        {{ range $col_index, $col := $row }}
          <td
            {{ if $isInitStage }}
              hx-put="/tile/put" hx-vals='{ "row": {{ $row_index }}, "col":
              {{ $col_index }}, "player": {{ $currPlayer }} }'
            {{ end }}
          >
            {{ $col }}
          </td>
        {{ end }}
        <td hx-post="/shift/left" hx-vals='{ "index": {{ $row_index }} }'>
          {{ $arrowLeft }}
        </td>
      </tr>
    {{ end }}


    <tr>
      <td />

      {{ range $index, $_ := .Board }}
        <td hx-post="/shift/up" hx-vals='{ "index": {{ $index }} }'>
          {{ $arrowUp }}
        </td>
      {{ end }}
    </tr>
  </table>
{{ end }}
