{{ define "errorPage" }}
  {{ template "headerBase" }}
  <body class="errorPage">
    <div class="banner">
      {{ . }}
    </div>
  </body>
  {{ template "footerBase" }}
{{ end }}

{{ define "errorGameFull" }}
  {{ template "headerBase" }}
  <body class="errorPage">
    <script>
      function redirectToSpectate() {
        const url = window.location.href;

        if (url.indexOf("?") !== -1) {
          const params = url.split("?")[1];

          window.location.href = "/spectate?" + params;
        } else {
          window.location.href = "/spectate";
        }
      }
    </script>

    <div class="banner">
      <div>Game is full</div>
      <button onclick="redirectToSpectate()">Spectate</button>
      <button onclick="window.location.href='/new'">New Game</button>
    </div>
  </body>
  {{ template "footerBase" }}
{{ end }}
