{{ define "header" }}
{{ block "headerBase" . }}
  <!doctype html>
  <html lang="en">
    <head>
      <title>Shifter</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="css/style.css" rel="stylesheet" />
      <script
        src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"
      ></script>
      <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
      <script>
        function getCookie(name) {
          let cookie = {};
          document.cookie.split(";").forEach(function (el) {
            let split = el.split("=");
            cookie[split[0].trim()] = split.slice(1).join("=");
          });
          return cookie[name];
        }

        document.addEventListener("DOMContentLoaded", function () {
          document.body.addEventListener("htmx:beforeSwap", function (evt) {
            if (evt.detail.xhr.status === 422) {
              evt.detail.shouldSwap = true;
              evt.detail.isError = false;
            }
          });

          document.body.addEventListener("htmx:wsOpen", function (evt) {
            const cookieName = "{{ SessionCookieName }}";
            const cookie = getCookie(cookieName);

            evt.detail.socketWrapper.send(cookie);
          });

          document.body.addEventListener("htmx:wsClose", function (evt) {
            if (
              evt.detail.event.code === {{ WebsocketCloseProtocolError }} &&
              evt.detail.event.reason === "{{ GameWebsocketErrInvalidToken }}"
            ) {
              createPopUp(`{{ template "expiredSessionMessage" }}`, false);
            }
          });
        });

        /*
         * Create a popup with an HTML message for a duration of time.
         * If the duration is -1, the popup will stay indefinitely.
         *
         * @param {string} innerHTML
         * @param {boolean} fadeout
         */
        function createPopUp(innerHTML, fadeout) {
          const popup = document.createElement("div");
          popup.innerHTML = innerHTML;
          popup.classList.add("popup");

          if (fadeout) {
            popup.classList.add("delayed-fadeout");
            popup.addEventListener("animationend", function () {
              popup.remove();
            });
          }

          document.body.appendChild(popup);
        }
      </script>
    </head>
{{ end }}
  <body>
{{ end }}

{{ define "footer" }}
  </body>

  {{ block "footerBase" . }}
    </html>
  {{ end }}
{{ end }}

{{ define "index" }}
  {{ template "header" }}
  <script>
      function copyGameLink() {
        const game_id = "{{ .Nonce }}";
        const url = `${window.location.origin}/join?gameId=${game_id}`;
        navigator.clipboard.writeText(url).then(
          function () {
            createPopUp("Copied!", true);
          },
          function (err) {
            alert("Failed to copy URL: " + err);
          },
        );
      }
  </script>
  <h1>Board:</h1>
  <div hx-ext="ws" ws-connect="/play">
    {{ template "gameScreen" .Game }}
  </div>
  {{ template "footer" }}
{{ end }}

{{ define "gameScreen" }}

  <div id="winner">
    {{ if eq .Stage StageOver }}
      <h1>Player {{ .Winner }} wins!</h1>
    {{ end }}
  </div>

  {{ template "board" . }}


  <div id="lobby_buttons">
    {{ if eq .Stage StageLobby }}
      <button ws-send hx-vals='{ "action": "start" }'>Start</button>

      <button onclick="copyGameLink()">Copy Invite Link</button>
    {{ end }}

    {{ if eq .Stage StageOver }}
      <button onclick="window.location.href='/new'">Play Again</button>
    {{ end }}
  </div>

  <div class="hide" id="popup"></div>
{{ end }}

{{ define "expirationNotice" }}
  {{ $expirationTime := . }}


  <div class="popup" id="popup">
    {{ if gt $expirationTime 0 }}
      Your game will expire in {{ $expirationTime }} seconds unless you do an
      action.
    {{ else }}
      {{ template "expiredSessionMessage" }}
    {{ end }}
  </div>
{{ end }}

{{ define "expiredSessionMessage" }}
  Your game has expired.
  <button onclick="window.location.href='/new'">New Game</button>
{{ end }}

{{ define "errorPopup" }}
  <div class="error-popup delayed-fadeout" id="popup">
    {{ . }}
  </div>
{{ end }}
