{{ block "index" . }}
  <!doctype html>
  <html lang="en">
    <head>
      <title>Cadere</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="css/style.css" rel="stylesheet" />
      <script
        src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"
      ></script>
      <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
      <script>
        function getCookie(name) {
          let cookie = {};
          document.cookie.split(";").forEach(function (el) {
            let split = el.split("=");
            cookie[split[0].trim()] = split.slice(1).join("=");
          });
          return cookie[name];
        }

        document.addEventListener("DOMContentLoaded", function () {
          document.body.addEventListener("htmx:wsOpen", function (evt) {
            const cookieName = "{{ SessionCookieName }}";
            const cookie = getCookie(cookieName);

            evt.detail.socketWrapper.send(cookie);
          });
        });
      </script>
    </head>
    <body>
      <h1>Board:</h1>
      <div hx-ext="ws" ws-connect="/play">
        {{ template "board" .Game }}
      </div>

      <button onclick="copyGameLink()">Copy Invite Link</button>
      <script>
        function copyGameLink() {
          const game_id = "{{ .Nonce }}";
          const url = `${window.location.origin}/join?gameId=${game_id}`;
          navigator.clipboard.writeText(url).then(
            function () {
              const popup = document.createElement("div");
              popup.innerHTML = "Copied!";
              popup.classList.add("popup");

              document.body.appendChild(popup);

              setTimeout(function () {
                popup.remove();
              }, 500);
            },
            function (err) {
              alert("Failed to copy URL: " + err);
            },
          );
        }
      </script>
    </body>
  </html>
{{ end }}
